body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Shippori Antique B1', sans-serif;
    background-image: url('rainy_season2.gif');
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    background-position: center;
    background-blend-mode: lighten;
    background-size: cover;
    font-size: 120%;
}

.container {
    /* background-color: #050101d0; */
    background-color: rgba(190, 180, 180, 0.5);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    color: rgb(0, 0, 0);
    /* display: flex; */
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0.5);
}

.temperature {
    font-size: 40px;
}

.text_transform {
    text-transform: uppercase;
}

.icons {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.6em;
    border-radius: 26px;
    height: 38px;
    margin-top: 5px;
    width: 38px;
    background-color: rgb(7, 1, 1, 0.1);
    color: rgb(255, 244, 244);
}

input.search-box {
    border: none;
    outline: none;
    height: 23px;
    padding: 0.3em 1em;
    border-radius: 26px;
    background-color: rgb(7, 1, 1, 0.1);
    color: rgb(2, 0, 0);
    font-family: inherit;
    font-size: 115%;
    width: 65%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.weather {
    display: inline-block;
}